<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/6619661a-1b81-4cdc-a84d-2b98f74c2686/resourceGroups/CrowdSolve/providers/Microsoft.ContainerRegistry/registries/crowdsolve</ResourceId>
    <ResourceName>crowdsolve</ResourceName>
    <ResourceGroup>CrowdSolve</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>crowdsolve.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>d3a4dbf5-3a98-4dcf-8398-ae241b5ebf0b</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>